﻿<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display:inline">
        <ul class="pagination pagination-sm">
            <li><a class="btn btn-info ml-1" ng-hide="page == 0" ng-click="search(0)"><<</a></li>
            <li><a class="btn btn-info ml-1" ng-hide="page == 0" ng-click="search(page-1)"><</a></li>
            <li ng-repeat="n in range()" ng-class="{active: n == page}">
                <a class="btn btn-danger ml-1" ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <span ng-if="n == page" class="btn btn-danger ml-1">{{n+1}}</span>
            </li>
            <li><a class="btn btn-info ml-1" ng-hide="page == pagesCount - 1" ng-click="search(pagePlus(1))">></a></li>
            <li><a class="btn btn-info ml-1" ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">>></a></li>
        </ul>
    </div>
</div>